# identifies Route53 DNS Zone e.g. "example.com"
fqdn = ""

# subdomain to use for the app e.g. "app.example.com"
fqdn_app = ""

# internal dns domain for VPC e.g. "example.internal"
fqdn_internal = ""

# used as the custom domain for CloudFront e.g. content.example.com
fqdn_cdn = ""

# terraform creates this bucket as the source of images for CloudFront, separate storage from bucket used for terraform
aws_s3_bucket_for_cdn = ""

# acl for cdn s3 bucket e.g. private or public-read
aws_s3_bucket_for_cdn_acl = ""

# acl for cdn accessible content e.g. private or public-read
aws_s3_bucket_for_cdn_content_acl = ""

# used for tagging resources
suffix = ""

# target aws region e.g. "us-east-1"
aws_region = ""

# list of target aws availability zones e.g.
/*
aws_availability_zones = [
  "us-east-1a",
  "us-east-1b",
  "us-east-1c",
]
*/
aws_availability_zones = []

#used to determine number of subnets
replica_count = ""

# s3 settings for storing elb logs
/*
aws_elb_logs = {
    bucket = "bucket-name"
    path   = "path/to/object"
  }
*/
aws_elb_logs = {
  bucket = ""
  path   = ""
}

# aws ec2 instance type for ASG e.g. "t3.nano"
ec2_instance_type = ""

# your desired ssh public key to use for authentication with ec2 instances,
# e.g. the output of "cat ~/.ssh/id_rsa.pub" if you have a default key
ssh_public_key = ""

# name of the ASG CloudFormation stack that matches ([a-zA-Z][-a-zA-Z0-9]*)|(arn:aws:[-a-zA-Z0-9:/._+]*) e.g. "my-lucky-asg"
asg_stack_name = ""
